{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": ["add-module-exports"],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": [
        "babel-plugin-dev-expression",
        "transform-decorators-legacy"
      ]
    },
    "development": {
      "presets": ["react-hmre"],
      "plugins": ["transform-decorators-legacy", "react-hot-loader/babel"]
    },
    "test": {
      "plugins": [
        ["webpack-loaders", { "config": "./config/webpack.config.node.js", "verbose": false }]
      ]
    }
  }
}
