{
  "presets": [
    ["env", { "targets": { "node": 6 }, "useBuiltIns": true }],
    "latest",
    "stage-0",
    "react"
  ],
  "plugins": ["add-module-exports"],
  "env": {
    "production": {
      "presets": ["react-optimize", "babili"],
      "plugins": [
        "babel-plugin-dev-expression",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-es2015-classes"
      ]
    },
    "development": {
      "plugins": ["transform-decorators-legacy", "react-hot-loader/babel"]
    },
    "test": {
      "plugins": [
        ["webpack-loaders", { "config": "./webpack.config.test.js", "verbose": false }]
      ]
    }
  }
}
