{
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "react/jsx-wrap-multilines": "off",
    "function-paren-newline": ["error", "consistent"],
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "flowtype-errors/show-errors": 2,
    "no-console": "off",
    "no-underscore-dangle": ["error", { "allow": ["__CLEAR_ALL_REDUCERS__"] }]
  },
  "globals": {
    "Generator": true,
    "$Keys": true,
    "SyntheticMouseEvent": true,
    "EventEmitter": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "../webpack.config.eslint.js"
      }
    }
  },
  "plugins": [
    "flowtype-errors"
  ]
}
