{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "flowtype-errors/show-errors": 2,
    "flowtype-errors/enforce-min-coverage": [2, 10],
    "import/no-extraneous-dependencies": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/href-no-hash": "off",
    "promise/param-names": "error",
    "promise/always-return": "error",
    "promise/catch-or-return": "error",
    "promise/no-native": "off",
    "no-underscore-dangle": "off",
    "arrow-parens": ["off"],
    "react/jsx-wrap-multilines": "off",
    "no-confusing-arrow": ["error", {"allowParens": true}],
  },
  "globals": {
    "Generator": true,
    "$Keys": true,
  },
  "plugins": [
    "flowtype",
    "flowtype-errors",
    "import",
    "promise",
    "compat",
    "react"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "../webpack.config.eslint.js"
      }
    }
  }
}
