/* open-sans-regular - greek-ext_cyrillic-ext_latin_vietnamese_greek_cyrillic_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/OpenSans-Bold.ttf');
}

@import "~react-select/less/default.less";
@import "~font-awesome/css/font-awesome.css";

@import "./settings.less";
@import "./variables.less";
@import "./base.less";
@import "./updater.less";
@import "./spinners.less";
@import "./form.less";
@import './statusbar.less';
@import "./flex.less";
@import "./buttons.less";
@import "./header.less";
@import './tracker.less';
@import './popup.less';
@import './descriptionPopup.less';
@import './sidebar.less';
@import './aui/aui.css';
@import './modal.less';
@import './gallery.less';
@import './placeholders.less';
@import './animations.less';

* {
  outline: none !important;
  font-family: system-ui !important;
}

a {
  color: #0052cc;
  text-decoration: none;
  &:hover {
    color: #0065ff;
    text-decoration: underline;
  }
  // :active {
  //   color: #3b73af;
  // }
}
