.tracker {
  width: 100%;
  background: lighten(@info, 42%);
  position: relative;
  .current-tracking {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    color: rgba(255, 255, 255, .67);
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ff9977;
    padding: 10px 0px;
    transition: all .3s;
    &.show {
      top: 0;
    }
    &.hide {
      top: -71px;
    }
    .current-tracking__key {
      font-weight: bold;
      color: #ff9977;
      margin-left: 10px;
    }
    .current-tracking__link {
      color: rgba(255, 255, 255, .9);
      cursor: pointer;
      border: 1px solid rgba(255, 255, 255, .67);
      font-size: .8em;
      padding: 5px;
      transform: translateY(5px);
      border-radius: 3px;
      &:hover {
        background: rgba(255, 255, 255, .2);
      }
    }
  }
}

.timer {
  height: 100%;
  position: relative;
}

.description__label {
  font-weight: bold;
  color: rgba(0, 0, 0, .5);
  padding-top: 20px;
}

.description {
  position: relative;
  font-size: 12px;
  color: rgba(0, 0, 0, .77);
  border: 1px dashed rgba(0, 0, 0, .2);
  padding: 5px;
  border-radius: 3px;
}

.timer-display {
  max-width: 110px;
  min-width: 110px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  background: #e6e6e6;
  margin-bottom: 8px;
  border-radius: 50%;
  padding: 55px 20px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, .2);
}

.tracker-header {
  padding: 8px 15px;
  -webkit-app-region: drag;
  min-height: 137px;
  background: #f8f8f8;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  z-index: 20;
  .tracker-header__issuekey {
    -webkit-app-region: no-drag;
    font-size: 1em;
    font-weight: bold;
    color: rgba(0, 0, 0, .87);
  }
  .tracker-header__summary {
    -webkit-app-region: no-drag;
    font-size: .9em;
    color: rgba(0, 0, 0, .67);
  }
  .tracker-header__description  {
    -webkit-app-region: no-drag;
    font-size: .8em;
    overflow: auto;
    word-break: break-all;
    color: rgba(0, 0, 0, .6);
  }
  .tracker-header__status {
    -webkit-app-region: no-drag;
    font-size: .8em;
  }
}

.uploading {
  font-size: .8em;
  position: relative;
  &:after {
    content: ' ';
    position: absolute;
    bottom: 0;
    animation: uploading .6s infinite ease-out;
  }
}

@keyframes uploading {
  0% {
    content: '';
  }
  33% {
    content: '.';
  }
  66% {
    content: '..';
  }
  99% {
    content: '...'
  }
}
