.Updater {
  color: rgba(0, 0, 0, .7);
  background: rgba(255, 255, 255, .5);
  height: 15px;
  line-height: 15px;
  font-size: .8em;
  &>.flex-row {
    width: 100%;
  }
  .UpdaterChecking, .UpdaterDownloading {
    &>div>div {
      background-color: rgba(169, 169, 255, 0.5) !important;
    }
    span {
      z-index: 7;
    }
  }
  .UpdaterAvailable {
    a {
      cursor: pointer;
    }
    animation: blink .5s 3;
  }
}

@keyframes blink {
  50% {
    background: rgba(187, 217, 247, 1);
  }
}
