body {
  font-family: Open Sans;
  margin: 0px;
  padding: 0px;
}

html, body, #root, .wrapper {
  height: 100%;
}

.occupy-height {
  height: 100%
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    background-color: transparent;
    background-clip: content-box;
}
 
::-webkit-scrollbar-thumb {
    background-color: #6386e2;
    border: 3px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:vertical {
  height: 81px;
}
