.avatar {
  width: 64px;
  height: 64px;
  border: 2px solid @primary;
  border-radius: 50%;
}

.header {
  padding: 8px;
  border-bottom: 1px solid #b6b6b6;
  background: lighten(@info, 40%);
  min-height: 120px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, .1);
  z-index: 1;
}

.username {
  font-size: 1.5em;
  margin-left: 20px;
  color: rgba(0, 0, 0, .83);
}

.Select {
  margin-top: 15px;
}
