.menu {
  border-right: 1px solid #b6b6b6;
  height: 100%;
  min-width: 255px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.sidebar {
  word-break: normal;
  word-wrap: break-word;
  list-style: none;
  margin: 0;
  overflow: auto;
  height: 100%;
}

.sidebar-nothing-selected {
  text-align: center;
  color: rgba(0, 0, 0, 0.67);
  margin-top: 25px;
}

.sidebar-list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.sidebar__item {
  padding: 8px;
  border-bottom: 1px dotted #d6d6d6;
  cursor: pointer;
  color: rgba(0, 0, 0, .83);
  &:hover {
    background: rgba(0, 0, 0, .1);
  }
}

.sidebar__item--active {
  background-color: #f0f2f4;
  border-left: 5px solid #3b7fc6;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../images/triangle-right.png);
    width: 10px;
    height: 13px;
  }
}
