.tracker {
  width: 100%;
  background: lighten(@info, 42%);
}

.timer {
  height: 100%;
}

.timer-display {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  background: #e6e6e6;
  margin-bottom: 8px;
  border-radius: 3px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, .2);
}

.tracker-header {
  padding: 8px;
  min-height: 120px;
  border-bottom: 1px solid #e6e6e6;
}
